:root {
    --primary_color: #0fa3b1;
    --secondary_color: #fbae44;
    --accent1_color: #043565;
    --acent2_color: #e53d00;
    --heading_font: 'Noto Sans JP', sans-serif;
    --body_font: 'PT Serif', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body_font);
    color: var(--accent1_color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading_font);
    color: var(--primary_color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.hero {
    position: relative;;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--secondary_color); /* white text - make sure there is enough contrast with the background-color */
  font-weight: bold;
}
article {
    position: absolute;
    top: 150px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.3);
    color: var(--acent2_color);
}
article h5 {
    font-family: var(--heading_font);
    color: var(--secondary_color);
}
.hero article img {
    float: right;
    width: 125px;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    background-color: var(--accent1_color);
    padding: 10px;   
}
header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 0;
}
header nav a {
    text-decoration: none;
    color: var(--secondary_color);
    font-weight: bold;
    text-align: center;
}
header nav a:hover {
    color: var(--primary_color);
    text-decoration: underline;
    font-weight: 700;
}
.main-history {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}    
.history {
    width: 300px;
}
.item1 {
    width: 300px;
    height: auto;
}
.item2 img{
    display: block;
    width: 300px;
    height: auto;
}
.item3 {
    width: 300px;
    height: auto;
}
.scroll-container {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary_color);
    overflow: auto;
    white-space: nowrap;
    height: fit-content;
}
.scroll-container img {
    padding: 3px;
    height: 250px;
    width: 300px;
}
.main-history h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 570px;
}
.main-adventures h2 {
    display: flex;
    justify-content: center;
    top: 570px;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
footer p {
    display: flex; 
    width: 500px;
    justify-self: center;
}
footer nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
footer nav a  img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    justify-self: flex-end;
    
}