:root {
    --border-color: 1px solid rgba(0, 0, 0, 0.1);
    --heading-text-color: darkblue;
    --background-color: #f0f0f0;
}
nav {
    background-color: var(--heading-text-color);
    padding: 10px;
}
nav a {
       color: var(--background-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-text-color);
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
} 
p {
    padding: 0;
    text-align: justify;
    margin-right: 20%;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-color);
    padding: 1rem;
    background-color: var(--background-color);
    color: #333;
    text-align: center;
    position: relative;
}
aside img{
    width: 200px;
    height: auto;
}

.my-wrapper {
    display: inline-block;
    height: auto;
    font-size: medium;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Class selectors*/
.box {
    border: 1px solid rgb(0, 0, 0 / 10%);
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--heading-text-color);
}
aside h2 {
    position: absolute;
    left: 97px;
    top: 47px;
}
footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}